@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/webfonts/fa-brands-400.ttf);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: aquamarine;
    animation-name: ep;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  

}
@keyframes ep {
    0%   {background-color: rgb(240, 139, 139);}
    25%  {background-color: rgb(233, 233, 187);}
    50%  {background-color: rgb(153, 153, 221);}
    100% {background-color: rgb(148, 236, 148);}
  }


.box{
    position: relative;
    text-align: justify;
    width: 450px;
    height: 550px;
    border-radius: 30px;
    background:rgb(216, 205, 205) ;
    padding: 30px 50px;
    box-shadow: 25px 25px 75px gray,10px 10px 70px gray, 
    inset 5px 5px 10px rgb(231, 80, 80),
    inset 5px 5px 20px gray,
    inset -5px -5px 15px black
    ;
}
h2{
    font-weight: 600;
    font-size: 1.69em;
    
}
#inputBx{
    position: relative;
    width: 100%;
    border: none;
    outline: none;
    padding: 15px 20px;
    border-radius: 30px;
    font-size: 1em;
    box-shadow: 5px 5px 7px black,inset 2px 2px 5px rgb(170, 198, 235),inset -3px -3px 5px rgb(16, 10, 10) ;
    align-items: center;
}
.box li{
    position: relative;
    width: calc(100% -40px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: burlywood;
    margin: 15px 0;
    padding: 10px 10px 10px 45px ;
    min-height: 45px;
    cursor: pointer;
    border-radius: 22.5px;
    color: #ffffff;
    box-shadow: 5px 5px 7px black,inset 2px 2px 5px rgb(170, 198, 235),inset -3px -3px 5px rgb(16, 10, 10) ;;
}
.box li i {
    position: absolute;
    right: -40px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-items: center;
    align-items: center;
    background: rgb(251, 75, 75);
    border-radius: 50%;
    box-shadow: 5px 5px 7px black,inset 2px 2px 5px rgb(222, 229, 237),inset -3px -3px 5px rgb(16, 10, 10) ;

}
.box li i::before {
    content: '';
    position: absolute;
    right: 0.003px;
    size: 0.05cm;
    padding-left: 0.15cm;
    width: 17px;
    height: 2px;
    background: white;
    transform: rotate(45deg);
}
.box li i::after {
    content: '';
    position: absolute;
    right: 0.003px;
    size: 0.05cm;
    padding-left: 0.15cm;
    width: 17px;
    height: 2px;
    background: white;
    transform: rotate(-45deg);
}
.box li::before{
    content: '';
    position: absolute;
    left: 8px;
    width: 30px;
    height: 30px;
    background: #2f363e;
    border-radius: 50%;
}

.box li.done
{
    background: #607d8b;
}
.box li.done:after{
    content: '';
    position: absolute;
    left: 16px;
    width: 12px;
    height: 6px;
    border-left: 2px solid whitesmoke;
    border-bottom: 2px solid whitesmoke;
    transform: rotate(315deg);
}
#list{
    position: relative;
    margin-top: 20px;
    height: 350px;
    overflow-y: auto;
    padding-right: 10px;
}
::-webkit-scrollbar-track{
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background: #ffffff;
}
